server/myClient/server_0.9/.metadata/*
server/myClient/server_0.9/config_mac/*
server/myClient/server_0.9/config_win/*
server/myClient/server_0.9/config_linux/*
server/myClient/server_0.9/jdt.ls-java-project/*
server/myClient/serverRepos/*
